In [32]:
import pandas as pd
import os
import regex as re

In [33]:
data_path = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Engagement Annotations/P11/CSV'
participant = 11
out = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Data/Annotations/p11_engagement.csv'

In [34]:
master = pd.DataFrame(columns=['participant', 'session_num', 'timestamp', 'engagement'])

In [35]:
master.head()

Empty DataFrame
Columns: [participant, session_num, timestamp, engagement]
Index: []

In [36]:
for subdir, dirs, files in os.walk(data_path):
    for file in files:
        if 'shomik' in file and 'csv' in file:
            path_to_file = data_path + '/' + file
            print(file)
            
            sess_regex1 = 's\d*_'
            sess_regex2 = 's\d*-\d*_'

            res1 = re.findall(sess_regex1, file)
            res2 = re.findall(sess_regex2, file)

            if (res1):
                session = res1[0]
                session = float(session[1:-1])
            else:
                session = res2[0]
                session = session[1:-1]
                session = session.replace('-', '.')
                session = float(session)
           
            process = pd.read_csv(path_to_file)
            process['participant'] = participant
            process['session_num'] = session
            process['timestamp'] = process['Timestamp']
            
            process['engagement'] = -1
            process.loc[process['C_Engagement']=='engaged', 'engagement'] = 1
            process.loc[process['C_Engagement']=='disengaged', 'engagement'] = 0

            process = process[['participant', 'session_num', 'timestamp', 'engagement']]
            master = pd.concat([master,process], sort=True)

p11_s11_engagement_shomik.csv
p11_s15_engagement_shomik.csv
p11_s16-2_engagement_shomik.csv
p11_s19_engagement_shomik.csv
p11_s22-2_engagement_shomik.csv
p11_s2_engagement_shomik.csv
p11_s4_engagement_shomik.csv
p11_s8_engagement_shomik.csv
p11_s9_engagement_shomik.csv

In [37]:
master = master[['participant', 'session_num', 'timestamp', 'engagement']]

In [38]:
master = master.sort_values(by=['session_num', 'timestamp'])

In [39]:
master

      participant  session_num    timestamp engagement
0              11          2.0     0.000000          0
1              11          2.0     0.033333          0
2              11          2.0     0.066667          0
3              11          2.0     0.100000          0
4              11          2.0     0.133333          0
5              11          2.0     0.166667          0
6              11          2.0     0.200000          0
7              11          2.0     0.233333          0
8              11          2.0     0.266667          0
9              11          2.0     0.300000          0
10             11          2.0     0.333333          0
11             11          2.0     0.366667          0
12             11          2.0     0.400000          0
13             11          2.0     0.433333          0
14             11          2.0     0.466667          0
15             11          2.0     0.500000          0
16             11          2.0     0.533333          0
17             11          2.0     0.566667          0
18             11          2.0     0.600000          0
19             11          2.0     0.633333          0
20             11          2.0     0.666667          0
21             11          2.0     0.700000          0
22             11          2.0     0.733333          0
23             11          2.0     0.766667          0
24             11          2.0     0.800000          0
25             11          2.0     0.833333          0
26             11          2.0     0.866667          0
27             11          2.0     0.900000          0
28             11          2.0     0.933333          0
29             11          2.0     0.966667          0
...           ...          ...          ...        ...
35645          11         22.2  1188.166667          0
35646          11         22.2  1188.200000          0
35647          11         22.2  1188.233333          0
35648          11         22.2  1188.266667          0
35649          11         22.2  1188.300000          0
35650          11         22.2  1188.333333          0
35651          11         22.2  1188.366667          0
35652          11         22.2  1188.400000          0
35653          11         22.2  1188.433333          0
35654          11         22.2  1188.466667          0
35655          11         22.2  1188.500000          0
35656          11         22.2  1188.533333          0
35657          11         22.2  1188.566667          0
35658          11         22.2  1188.600000          0
35659          11         22.2  1188.633333          0
35660          11         22.2  1188.666667          0
35661          11         22.2  1188.700000          0
35662          11         22.2  1188.733333          0
35663          11         22.2  1188.766667          0
35664          11         22.2  1188.800000          0
35665          11         22.2  1188.833333          0
35666          11         22.2  1188.866667          0
35667          11         22.2  1188.900000          0
35668          11         22.2  1188.933333          0
35669          11         22.2  1188.966667          0
35670          11         22.2  1189.000000          0
35671          11         22.2  1189.033333          0
35672          11         22.2  1189.066667          0
35673          11         22.2  1189.100000          0
35674          11         22.2  1189.133333          0

[411156 rows x 4 columns]

In [40]:
master.to_csv(out, index=False)