In [1]:
import pandas as pd

In [2]:
p_path = 'p9'
ofp_df_path = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Data/OF_P/'+ p_path + '_OF_P.csv'  
a_df_path = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Data/Audio/'+ p_path + '_audio.csv'
e_df_path = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Data/Annotations/'+ p_path +'_engagement.csv'

In [3]:
ofp_df = pd.read_csv(ofp_df_path)
a_df = pd.read_csv(a_df_path)
e_df = pd.read_csv(e_df_path)

In [4]:
# Only Keep Rows with Valid Participant, temporarily remove participant column
ofp_df = ofp_df.loc[ofp_df['participant'].notna()]
ofp_df = ofp_df.drop(columns=['participant'])
a_df = a_df.drop(columns=['participant'])

In [5]:
# Only Keep Sessions with Annotations

keep =list(e_df['session_num'].unique())
a_df = a_df.loc[a_df['session_num'].isin(keep)]
ofp_df = ofp_df.loc[ofp_df['session_num'].isin(keep)]

In [6]:
# Sort: session_num => timestamp
ofp_df = ofp_df.sort_values(by=['session_num', 'timestamp'])
a_df = a_df.sort_values(by=['session_num', 'timestamp'])
e_df = e_df.sort_values(by=['session_num', 'timestamp'])

ofp_df = ofp_df.reset_index(drop=True)
a_df = a_df.reset_index(drop=True)
e_df = e_df.reset_index(drop=True)

In [7]:
e_df['timestamp'] = e_df['timestamp'].round(4)
ofp_df['timestamp'] = ofp_df['timestamp'].round(4)
a_df['timestamp'] = a_df['timestamp'].round(4)

e_df['session_num'] = e_df['session_num'].round(1)
ofp_df['session_num'] = ofp_df['session_num'].round(1)
a_df['session_num'] = a_df['session_num'].round(1)

In [8]:
ofp_df[['session_num', 'timestamp']]

        session_num  timestamp
0               3.1    64.4333
1               3.1    64.4667
2               3.1    64.5000
3               3.1    64.5333
4               3.1    64.5667
5               3.1    64.6000
6               3.1    64.6333
7               3.1    64.6667
8               3.1    64.7000
9               3.1    64.7333
10              3.1    64.7667
11              3.1    64.8000
12              3.1    64.8333
13              3.1    64.8667
14              3.1    64.9000
15              3.1    64.9333
16              3.1    64.9667
17              3.1    65.0000
18              3.1    65.0333
19              3.1    65.0667
20              3.1    65.1000
21              3.1    65.1333
22              3.1    65.1667
23              3.1    65.2000
24              3.1    65.2333
25              3.1    65.2667
26              3.1    65.3000
27              3.1    65.3333
28              3.1    65.3667
29              3.1    65.4000
...             ...        ...
368246         15.0  3637.4000
368247         15.0  3637.4333
368248         15.0  3637.4667
368249         15.0  3637.5000
368250         15.0  3637.5333
368251         15.0  3637.5667
368252         15.0  3637.6000
368253         15.0  3637.6333
368254         15.0  3637.6667
368255         15.0  3637.7000
368256         15.0  3637.7333
368257         15.0  3637.7667
368258         15.0  3637.8000
368259         15.0  3637.8333
368260         15.0  3637.8667
368261         15.0  3637.9000
368262         15.0  3637.9333
368263         15.0  3637.9667
368264         15.0  3638.0000
368265         15.0  3638.0333
368266         15.0  3638.0667
368267         15.0  3638.1000
368268         15.0  3638.1333
368269         15.0  3638.1667
368270         15.0  3638.2000
368271         15.0  3638.2333
368272         15.0  3638.2667
368273         15.0  3638.3000
368274         15.0  3638.3333
368275         15.0  3638.3667

[368276 rows x 2 columns]

In [9]:
a_df[['session_num', 'timestamp']]

        session_num  timestamp
0               3.1     0.0000
1               3.1     0.0333
2               3.1     0.0667
3               3.1     0.1000
4               3.1     0.1333
5               3.1     0.1667
6               3.1     0.2000
7               3.1     0.2333
8               3.1     0.2667
9               3.1     0.3000
10              3.1     0.3333
11              3.1     0.3667
12              3.1     0.4000
13              3.1     0.4333
14              3.1     0.4667
15              3.1     0.5000
16              3.1     0.5333
17              3.1     0.5667
18              3.1     0.6000
19              3.1     0.6333
20              3.1     0.6667
21              3.1     0.7000
22              3.1     0.7333
23              3.1     0.7667
24              3.1     0.8000
25              3.1     0.8333
26              3.1     0.8667
27              3.1     0.9000
28              3.1     0.9333
29              3.1     0.9667
...             ...        ...
373854         15.0  3670.4000
373855         15.0  3670.4333
373856         15.0  3670.4667
373857         15.0  3670.5000
373858         15.0  3670.5333
373859         15.0  3670.5667
373860         15.0  3670.6000
373861         15.0  3670.6333
373862         15.0  3670.6667
373863         15.0  3670.7000
373864         15.0  3670.7333
373865         15.0  3670.7667
373866         15.0  3670.8000
373867         15.0  3670.8333
373868         15.0  3670.8667
373869         15.0  3670.9000
373870         15.0  3670.9333
373871         15.0  3670.9667
373872         15.0  3671.0000
373873         15.0  3671.0333
373874         15.0  3671.0667
373875         15.0  3671.1000
373876         15.0  3671.1333
373877         15.0  3671.1667
373878         15.0  3671.2000
373879         15.0  3671.2333
373880         15.0  3671.2667
373881         15.0  3671.3000
373882         15.0  3671.3333
373883         15.0  3671.3667

[373884 rows x 2 columns]

In [10]:
e_df[['session_num', 'timestamp']]

        session_num  timestamp
0               3.1     0.0000
1               3.1     0.0333
2               3.1     0.0667
3               3.1     0.1000
4               3.1     0.1333
5               3.1     0.1667
6               3.1     0.2000
7               3.1     0.2333
8               3.1     0.2667
9               3.1     0.3000
10              3.1     0.3333
11              3.1     0.3667
12              3.1     0.4000
13              3.1     0.4333
14              3.1     0.4667
15              3.1     0.5000
16              3.1     0.5333
17              3.1     0.5667
18              3.1     0.6000
19              3.1     0.6333
20              3.1     0.6667
21              3.1     0.7000
22              3.1     0.7333
23              3.1     0.7667
24              3.1     0.8000
25              3.1     0.8333
26              3.1     0.8667
27              3.1     0.9000
28              3.1     0.9333
29              3.1     0.9667
...             ...        ...
373926         15.0  3670.8667
373927         15.0  3670.9000
373928         15.0  3670.9333
373929         15.0  3670.9667
373930         15.0  3671.0000
373931         15.0  3671.0333
373932         15.0  3671.0667
373933         15.0  3671.1000
373934         15.0  3671.1333
373935         15.0  3671.1667
373936         15.0  3671.2000
373937         15.0  3671.2333
373938         15.0  3671.2667
373939         15.0  3671.3000
373940         15.0  3671.3333
373941         15.0  3671.3667
373942         15.0  3671.4000
373943         15.0  3671.4333
373944         15.0  3671.4667
373945         15.0  3671.5000
373946         15.0  3671.5333
373947         15.0  3671.5667
373948         15.0  3671.6000
373949         15.0  3671.6333
373950         15.0  3671.6667
373951         15.0  3671.7000
373952         15.0  3671.7333
373953         15.0  3671.7667
373954         15.0  3671.8000
373955         15.0  3671.8333

[373956 rows x 2 columns]

In [11]:
master = pd.merge(ofp_df, a_df, how='left', on=['session_num', 'timestamp'])

In [12]:
master = pd.merge(master, e_df, how='left', on=['session_num', 'timestamp'])

In [13]:
master.columns

Index(['of_confidence', 'of_success', 'of_gaze_0_x', 'of_gaze_0_y',
       'of_gaze_0_z', 'of_gaze_1_x', 'of_gaze_1_y', 'of_gaze_1_z',
       'of_gaze_angle_x', 'of_gaze_angle_y', 'of_gaze_distance', 'of_pose_Tx',
       'of_pose_Ty', 'of_pose_Tz', 'of_pose_Rx', 'of_pose_Ry', 'of_pose_Rz',
       'of_pose_distance', 'of_AU01_c', 'of_AU02_c', 'of_AU04_c', 'of_AU05_c',
       'of_AU06_c', 'of_AU07_c', 'of_AU09_c', 'of_AU10_c', 'of_AU12_c',
       'of_AU14_c', 'of_AU15_c', 'of_AU17_c', 'of_AU20_c', 'of_AU23_c',
       'of_AU25_c', 'of_AU26_c', 'of_AU28_c', 'of_AU45_c', 'op_num_people',
       'timestamp', 'session_num', 'p_games_total', 'p_games_session',
       'p_mistakes_total', 'p_mistakes_session', 'p_mistakes_game',
       'p_ts_robot_talked', 'p_ts_game_start', 'p_ts_attempt', 'p_aptitude',
       'p_diff_1', 'p_diff_2', 'p_diff_3', 'p_diff_4', 'p_diff_5',
       'p_skill_NC', 'p_skill_OS', 'p_skill_EM', 'p_no_game', 'a_harmonicity',
       'a_intensity', 'a_mfcc_0', 'a_mfcc_1', 'a_pitch_frequency',
       'a_pitch_strength', 'participant', 'engagement'],
      dtype='object')

In [14]:
# Simple Checks 
print(len(master))
print(len(ofp_df))
print()

print(master['of_confidence'].isna().sum())
print(master['a_mfcc_0'].isna().sum())
print(master['engagement'].isna().sum())

368276
368276

0
0
0

In [15]:
o_path = '../../../../Google Drive File Stream/My Drive/USC Expeditions Year 5/Analysis/Engagement/Data/Master/'+ p_path +'_master.csv'
master.to_csv(o_path, index=False)